* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

/* Common Styles */
body {
    font-family: "Inter", sans-serif;
}


.btn-shared {
    color: #FFFFFF;
    background-color: #1D4ED8;
    border: none;
    font-weight: 600;
    padding: 13px 40px;
    border-radius: 10px;
}


/* Navbar Style Start */

.logo img {
    height: 40px;
}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 100px;
}

.menu {
    display: flex;
    list-style: none;
    gap: 22px;
}

.menu a:hover {

    color: #1D4ED8;

}

.menu a {
    text-decoration: none;
    color: #575757;
}
/* Hero Section Styles */

.hero-container {
    background-image: linear-gradient(90deg,
            rgba(0, 0, 0, 0.9) 0%,
            rgba(0, 0, 0, 0.8) 25%,
            rgba(0, 0, 0, 0.4) 55%,
            rgba(0, 0, 0, 0) 100%), url('../assets/banner.jpg');

    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 750px;
    display:flex;
    justify-content:center;
    align-items:center;
}

.hero-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.hero-content h2 {
    font-size: 80px;
    font-weight: 700;
    color: #FFFFFF;
}

.hero-content p {
    font-size: 20px;
    color: #FFFFFF;
    margin: 20px 0;
}

.hero-content button {
    margin-top: 250px;
    border-radius: 6px;
    font-size: 18px;
}
/* Meet The Speakers */
.speakers-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
    margin-bottom: 100px;
}

.speakers-container h1 {
    font-size: 50px;
    font-weight: bold;
}

.speakers-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
    margin-top: 50px;
}

.speaker-card img {
    border-radius: 10px 10px 0 0;
    display: block;
    width: 100%;
}

.speaker-info {
    border-left: 1px solid #E5E7EB;
    border-right: 1px solid #E5E7EB;
    border-bottom: 1px solid #E5E7EB;
    padding: 20px;
    border-radius: 0 0 10px 10px;
}

.speaker-label {
    font-size: 12px;
    font-weight: 600;
    color: #2563EB;
    margin-bottom: 6px;

}

.speaker-title {
    color: #575757;
    font-size: 12px;
    margin-top: 6px;
}
/* Pricing Section */

.pricing-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    
}

.pricing-container h1 {
    color: #0D1B2A;
    font-size: 42px;
    font-weight: bold;
}

.pricing-container> p {
    color: #575757;
    font-size: 14px;
    margin-top: 16px;
}
.pricing-container hr{
    color: #E5E7EB;
    opacity: 0.2;
}
.card-container {
    display: flex;
    padding-top: 50px;
    padding-bottom: 80px;
    gap: 25px;

}

.card{
    padding: 30px;
    border-radius: 10px;
    border: 1px solid #E5E7EB;
}

.card-title{
    color: #888888;
    font-size: 14px;
    text-transform: uppercase;
    font-weight:600;
}

.card-price{
    color: #0D1B2A;
    font-size: 40px;
    font-weight: bold;
    margin-top: 5px;
}

.card-subtitle{
    color: #888888;
    font-size: 14px;
    margin-bottom: 20px;

}

.card ul{
    margin: 20px 16px 0 16px;
}
.card ul li{
    color: #333333;
    font-size: 12px;
    line-height: 2.2;
}

.card-container button{
    font-size: 16px;
    font-weight: 600;
    margin-top: 20px;
    padding: 14px 100px;
    color: #2563EB;
    background-color: transparent;
    border: 1px solid #2563EB;
    
}

.pro-card{
    background-color: #0D1B2A;
    color: #fff5f5;
    border: none;
}
.pro-card .card-title{
    color: #93C5FD;
}
.pro-card h2{
    color: #FFFFFF;
}
.pro-card ul li{
    color: lightgray;
}

 .pro-card hr{
    opacity: 0.1;
 }

.pro-card button{
    color: #FFFFFF;
    background-color: #2563EB;
    border: none;
}
/* Footer Section Start */

.footer-container{
    background-color: #0D1B2A;
}

.footer-top{
    display: flex;
    justify-content: space-between ;
    padding: 24px 115px;
}
.social-icon a{
    color:#ffff;
    font-size:25px;
    margin-right: 20px;
}

.footer-container hr{
    border: none;
    height: 1px;
    background-color: rgba(255, 255, 255, 0.12);
}
.footer-bottom{
    display: flex;
    justify-content: space-between ;
    padding: 28px 115px;
}

.footer-bottom p{
    color: rgba(255, 255, 255, 0.4);
    font-size: 14px;
}
.footer-menu ul{
    display: flex;
    gap: 20px;
}

.footer-menu li{
    list-style-type: none;
}
.footer-menu li a{
    text-decoration: none;
    color: rgba(255, 255, 255, 0.4);
}


